@{
    ViewData["Title"] = "Planteamiento";
}
<h1>@ViewData["Title"]</h1>

<p>Para el modelo de datos que se propone, desarrollar una aplicación MVC ASP.NET Core, usando Visual Studio
Code, que contenga:</p>
 <p>Modelo de base de datos usando Entity Framework Core ( clases en C# )<br>
 Anotaciones al Modelo de dase de datos<br>
 Inicialización de la base de datos con datos de prueba<br>
 Pantallas de entrada de las tablas principales (tablas con llave principal de 1 solo campo)</p>
