@{
    ViewData["Title"] = "Desarrollo de Aplicaciones en Internet";
}

<div class="text-center">
    <h1 class="display-4">Universidad Autónoma de Zacatecas</h1>
    <p>El link <a href="https://github.com/kmponce/desappint2020">Solucion al Examen</a> contiene la respuesta al examen 3 de Desarrollo de Aplicaciones en Internet.</p>
</div>
