@{
    ViewData["Title"] = "Desarrollo de Aplicaciones en Internet";
}
<h1>@ViewData["Title"]</br>Tercer Examen Parcial</h1>

<p>Diseñar una aplicación Web ASP.NET Core MVC con acceso a datos que permita realizar
tareas de actualización (altas, bajas, cambios), utilizando como herramienta de desarrollo
Microsoft Visual Studio Code, aplicando lo visto durante el semestre. Lo anterior para un
modelo de datos tú lo eliges para resolver una necesidad específica.</p>

<p>Aspectos a evaluar en la aplicación</p>
Representación gráfica del modelo de datos (diagrama con relaciones) (15%)</br>
Creación del modelo de datos en C# (tablas, relaciones, con anotaciones) (20%)</br>
Creación de pantallas de acceso a datos de todas las tablas (20%)</br>
Actualización de datos en todas las tablas, datos relacionados (20%)</br>
Datos de prueba de la aplicación en todas las tablas (10%)</br>
Agregar control de acceso (login y registro de usuarios) (15%)</br>
<p>Forma de Entrega</p>
Crear una carpeta dentro del repositorio GitHub y enviar la liga</br>
<p>Notas:</p>
La base de datos será en SQLite</br>
El proyecto se ejecutará en la máquina local</br>
